<div class="accordion container md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
  <h2 id="hdr">FREQUENTLY ASKED QUESTIONS</h2>
  <div class="card">
      <div class="card-header" role="tab" id="headingTwo1">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
             aria-expanded="false" aria-controls="collapseTwo1">
              <h5 class="mb-0">
                  WHEN WILL I GET MY LOAD IN DETAILS?
              </h5>
          </a>
      </div>
      <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordionEx1">
          <div class="card-body">
              Load in details will be emailed no later than the week of the festival. See load in details email date on festival page.            </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="headingThree31">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
             aria-expanded="false" aria-controls="collapseThree31">
              <h5 class="mb-0 n1">
                  CAN I PASS OUR FLYERS OR PROMOTIONAL ITEMS INSIDE THE VENUE? WHAT ABOUT OUTSIDE?
              </h5>
          </a>
      </div>
      <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31" data-parent="#accordionEx1">
          <div class="card-body">
              No. Anyway, marketing is totally overrated… and you should be trying to use less paper.
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="headingFour41">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseFour41"
             aria-expanded="false" aria-controls="collapseFour41">
              <h5 class="mb-0 2">
                  I PURCHASED PASSES FOR BOTH WEEKS. CAN I PUT THEM BOTH ON AT THE SAME TIME?
              </h5>
          </a>
      </div>
      <div id="collapseFour41" class="collapse" role="tabpanel" aria-labelledby="headingFour41" data-parent="#accordionEx1">
          <div class="card-body">
              No. Only wear one wristband at a time. If you wear more than one wristband, the scanners will be unable to read them properly and you will not be able to enter the festival.            </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="headingFive51">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseFive51"
             aria-expanded="false" aria-controls="collapseFive51">
              <h5 class="mb-0">
                  DO I NEED TO BUY A FESTIVAL PASS OR TICKET?
              </h5>
          </a>
      </div>
      <div id="collapseFive51" class="collapse" role="tabpanel" aria-labelledby="headingFive51" data-parent="#accordionEx1">
          <div class="card-body">
              No. There is no admission fee to take part in some Festival. Many of the events are free! Tickets are required for a few festival.If you’d like to spectate at these events, you’ll need to have a pass to uplift.
              Be sure to check out individual event pages to see which events are free, ticketed, or require mountain access.
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="headingSix61">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseSix61"
             aria-expanded="false" aria-controls="collapseSix61">
              <h5 class="mb-0">
                  HOW WILL THE PATRONS PAY FOR FOOD?
              </h5>
          </a>
      </div>
      <div id="collapseSix61" class="collapse" role="tabpanel" aria-labelledby="headingSix61" data-parent="#accordionEx1">
          <div class="card-body">
              All transactions will be on a cash basis. Each Restaurant is responsible for collecting money directly.            </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="headingSeven71">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseSeven71"
             aria-expanded="false" aria-controls="collapseSeven71">
              <h5 class="mb-0">
                  WHEN WILL I FIND OUT IF I AM ACCEPTED INTO AN EVENT?
              </h5>
          </a>
      </div>
      <div id="collapseSeven71" class="collapse" role="tabpanel" aria-labelledby="headingSeven71" data-parent="#accordionEx1">
          <div class="card-body">
              Acceptance emails will be sent 1 week after the application deadline. See application deadline on event page. We will still accept late applicants. Please check the website to see if spaces are sold out. There will be a $50 late fee if applying after the deadline.            </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="headingEight81">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseEight81"
             aria-expanded="false" aria-controls="collapseEight81">
              <h5 class="mb-0">
                  WILL YOU BE POSTING SET TIMES IN ADVANCE?
              </h5>
          </a>
      </div>
      <div id="collapseEight81" class="collapse" role="tabpanel" aria-labelledby="headingEight81" data-parent="#accordionEx1">
          <div class="card-body">
              Yes. Set times will be posted on the website and mobile app a couple days before the festival. Set times will also be available in the festival guide passed out on entry.            </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="headingNine91">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseNine91"
             aria-expanded="false" aria-controls="collapseNine91">
              <h5 class="mb-0">
                  WHAT ARE YOU DOING TO ENSURE MY SAFETY AT THE FESTIVAL?
              </h5>
          </a>
      </div>
      <div id="collapseNine91" class="collapse" role="tabpanel" aria-labelledby="headingNine91" data-parent="#accordionEx1">
          <div class="card-body">
              Security and safety are of utmost importance.  We work hand in hand with relevant law enforcement and public protection agencies to help ensure the safety of our event, but because of those very same concerns, we are unable to publicly comment on any specific actions which are taken.            </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="headingTen101">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTen101"
             aria-expanded="false" aria-controls="collapseTen101">
              <h5 class="mb-0">
                  I'M A PHOTOGRAPHER FOR MY OWN BLOG . HOW DO I MAKE ARRANGEMENTS FOR A PHOTO PASS?
              </h5>
          </a>
      </div>
      <div id="collapseTen101" class="collapse" role="tabpanel" aria-labelledby="headingTen101" data-parent="#accordionEx1">
          <div class="card-body">
              Photo passes will be distributed at the discretion of the festival and cannot be specifically requested as part of your press application. We will provide syndicated photos from our on-site festival photographers for use.            </div>
      </div>
  </div>
</div>