<section id="team" class="pb-5">
  <div class="container">
      <h5 class="section-title h1">Member</h5>
      <div class="row">
          <!-- Team member -->
      
          <!-- ./Team member -->
          <!-- Team member -->
          <div  style="margin-left: 33%" class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                  <h4 class="card-title">Nguyen Ngoc Trong</h4>
                                  <p class="card-text">MSSV 111122233</p>
                                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Sunlimetech</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="#">
                                              <i class="fa fa-facebook" id="abfb"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="#">
                                              <i class="fa fa-twitter" id="abtw"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="#">
                                              <i class="fa fa-skype" id="absk"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="#">
                                              <i class="fa fa-google" id="abgg"></i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
         
          <!-- ./Team member -->
      </div>
  </div>
</section>

<!--GGMAP-->
<div class="container">
  <h5 class="section-title h1">WHERE WERE WE BEGIN</h5>
  <div class="row gmap">
      <div class="col-sm-0 col-md-3"></div>
      <div class="col-sm-6 col-md-6">
          <div class="card text-center">
              <img class="card-img-top" src="assets/images/brand/DH.jpg" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title"> Dai Hoc Su Pham Da Nang</h5>
                  <hr>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15336.266076166885!2d108.1594264!3d16.0620376!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa691cb5163d76dae!2sMinh+Anh!5e0!3m2!1sen!2s!4v1557714810273!5m2!1sen!2s" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                  <a href="https://www.google.com/maps/place/Minh+Anh/@16.0620376,108.1594264,15z/data=!4m5!3m4!1s0x0:0xa691cb5163d76dae!8m2!3d16.0620376!4d108.1594264"><address class="font-italic"> 459 Tôn Đức Thắng, Hoà Khánh Nam, Liên Chiểu, Đà Nẵng</address></a>
              </div>
              <div class="card-footer text-muted">
                  <div class="row">
                      <div class="col abcontact">
                          <a href=""><i class="fas fa-map"></i></a>
                      </div>
                      <div class="col abcontact">
                          <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
                      </div>
                      <div class="col abcontact">
                          <a href="tel:+842363779779"><i class="fas fa-phone"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>